language: elixir

elixir:
  - 1.9.4
  - 1.10.4
  - 1.11.3

otp_release:
  - 21.3
  - 22.3
  - 23.0

jobs:
  exclude:
    - elixir: 1.9.4
      otp_release: 23.0

before_script:
  - mix compile --warnings-as-errors

script:
  - mix test
  - mix dialyzer --halt-exit-status
  - mix credo --strict

cache:
  directories:
    - _build
    - deps
